.main ul {
  list-style: none; 
  padding-left: 20%;
  padding-top: 15%;
}
.main a {
  text-decoration: none; 
  background:#4CAF50; 
  color:#FFFFFF; 
  padding:15px; 
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  border-radius:4px; 
  text-transform: uppercase;
}
.main li {
  float:left; 
  margin-right:20px; 
}
.form {
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 100px;
  text-align: center;
}
.form textarea{
  width: 98%;
}
.form input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0; 
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.unblock input {
  width: 50%;
}

.logout li {
  float:right; 
  margin-right:20px;
}

.logout a {
  text-decoration: none; 
  background:#4CAF50; 
  color:#FFFFFF; 
  padding:8px; 
  font-family: "Roboto", sans-serif;
  font-size: 8pt;
  border-radius:5px; 
  text-transform: uppercase;
  text-align: right;
}

.button ul {
  list-style: none; 
}

.back li {
  float:left; 
  margin-left :-40px;
}

.back a {
  text-decoration: none; 
  background:#4CAF50; 
  color:#FFFFFF; 
  padding:8px; 
  font-family: "Roboto", sans-serif;
  font-size: 8pt;
  border-radius:5px; 
  text-transform: uppercase;
  text-align: left;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #4CAF50;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #70CD75;
}
th:first-child, td:first-child {
text-align: left;
}

input, textarea {
  color: #494949;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: #fff;
  font-size: 14px;
  margin: 0 0 10px;
  padding: 5px;
  width: 100%;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

input:focus {
  border-color: #808080;
  outline: none;
}

textarea:focus {
  border-color: #808080;
  outline: none;
}

#error{
  text-align: left;
  position: absolute;
}

#message{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  text-align: center;
  position: relative;
}


